<header>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Joe Liang</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li><a href="/projects">PORTFOLIO</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="https://www.facebook.com/joe.liang.315" target="_blank"><span class="fa fa-facebook-square" style="font-size:24px"></span></a></li>
      <li><a href="https://github.com/JoeLiang3" target="_blank"><span class="fa fa-github" style="font-size:24px"></span></a></li>
      <li><a href="https://www.linkedin.com/in/joeliang3/" target="_blank"><span class="fa fa-linkedin-square" style="font-size:24px"></span></a></li>
      <li><a href="https://www.instagram.com/_mojojoe/?hl=en" target="_blank"><span class="fa fa-instagram" style="font-size:24px; color:blue"></span></a></li>
    </ul>
  </div>
</nav>
</header>
