<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {{> imports}}
  </head>
  <body>
    {{> header}}
    <div class="picture">
      <img src="http://res.cloudinary.com/joel33/image/upload/v1499123498/joeOnPhone_pzmpod.jpg">
    </div>

    {{> footer}}
  </body>
</html>
