<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {{> imports}}
  </head>
  <body>
    {{> header}}
    <div class="picture">
      <img src="https://sbs.ucsc.edu/images/entrance_sign.jpg">
    </div>
    <div class="about text-center">

      <div class = "my-name">About Me</div>

      <div ><img id="selfie" src="https://image.ibb.co/fo2VDk/Image.jpg"/></div>
      <div class="description"><p>Hello! My name is Joe Liang and I am currently a Junior attending University
      of California Santa Cruz and pursuing a degree in computer science. I have experience in building web applications
    through hackathons and personal projects. My goal is to become a full stack developer.</p></div>

      <div class="skills-container">
        <div class ="description container">
          <div class ="my-name">Skills</div>

          <div class="row">
            <div class="skills col-md-3"><button type="button" disabled>Java</button></div>
            <div class="skills col-md-3"><button type="button" disabled>Javascript/ES6</button></div>
            <div class="skills col-md-3"><button type="button" disabled>Python</button></div>
            <div class="skills col-md-3"><button type="button" disabled>C</button></div>

          </div>
          <div class="row">
            <div class="skills col-md-3"><button type="button" disabled>NodeJS</button></div>
            <div class="skills col-md-3"><button type="button" disabled>Express</button></div>
            <div class="skills col-md-3"><button type="button" disabled>MongoDB</button></div>
            <div class="skills col-md-3"><button type="button" disabled>Git</button></div>

          </div>
          <div class="row">
            <div class="skills col-md-3"><button type="button" disabled>React</button></div>
            <div class="skills col-md-3"><button type="button" disabled>HTML</button></div>
            <div class="skills col-md-3"><button type="button" disabled>CSS</button></div>
            <div class="skills col-md-3"><button type="button" disabled>Bootstrap</button></div>
          </div>
        </div>
      </div>


    </div>

  </body>
</html>
