<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {{> imports}}
  </head>
  <body>
    {{> header}}
    <div class="picture">
      <img src="https://sbs.ucsc.edu/images/entrance_sign.jpg">
    </div>
    <div class="about text-center">
      <div class = "my-name">Joe Liang</div>
      <img src="#"/>

    </div>

    {{> footer}}
  </body>
</html>
