<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {{> imports}}
  </head>
  <body>
    {{> header}}
    <p></p>

    <p>{{welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
