<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {{> imports}}
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  </head>

  <body class="text-center">
    {{> header}}
    <div id="title">Projects</div>

    <div class="projects">
      <div class="project-name">ChatRoom</div>
      <img src="https://image.ibb.co/dBHTm5/Screen_Shot_2017_09_19_at_7_43_09_PM.png"
      alt="Screen Shot 2017 09 19 at 7 43 09 PM" border="0" />
      <div id="overlay" class="text-center">
        <div class="project-description">
          <h3>
            Frameworks and libraries used
          </h3>
          <p>
            NodeJS, Express, SocketIO, Moment, Mocha, Expect
          </p>
        </div>
        <div class="ref"><a target="_blank" href="https://github.com/JoeLiang3/ChatRoom">Github</a></div>
        <div class="ref"><a target="_blank" href="https://morning-eyrie-56830.herokuapp.com/">Open</a></div>
      </div>
    </div>


    <div class="projects">
      <div class="project-name">Todo API</div>
      <img src="https://image.ibb.co/mHqXg5/Screen_Shot_2017_09_21_at_3_16_49_PM.png"
      alt="Screen_Shot_2017_09_21_at_3_16_49_PM" border="0">
      <div id="overlay" class="text-center">
        <div class="project-description">
          <h3>
            Frameworks and libraries used
          </h3>
          <p>
            NodeJS, Express, Mongoose, Crypto-JS, Jsonwebtokens, Lodash
          </p>
        </div>
        <div class="ref"><a target="_blank" href="https://github.com/JoeLiang3/Todo-API">Github</a></div>
        <div class="ref"><a target="_blank" href="https://arcane-anchorage-14725.herokuapp.com/">Open</a></div>
      </div>
    </div>

    <div class="projects">
      <div class="project-name">DateSync</div>
      <img src="https://image.ibb.co/gUExZQ/Screen_Shot_2017_09_24_at_11_14_12_PM.png"
      alt="Screen_Shot_2017_09_24_at_11_14_12_PM" border="0">
      <div id="overlay" class="text-center">
        <div class="project-description">
          <h3>
            Frameworks and libraries used
          </h3>
          <p>
            Meteor, React, JQuery, MongoDB, Bootstrap
          </p>
        </div>
        <div class="ref"><a target="_blank" href="https://morning-eyrie-56830.herokuapp.com/">Github</a></div>
        <div class="ref">Not Deployed</div>
      </div>
    </div>

    <div class="projects">
      <div class="project-name">Travel Chatbot</div>
      <img src="https://image.ibb.co/hYDug5/Screen_Shot_2017_09_24_at_11_19_15_PM.png"
      alt="Screen_Shot_2017_09_24_at_11_19_15_PM" border="0">
      <div id="overlay" class="text-center">
        <div class="project-description">
          <h3>
            Frameworks and libraries
          </h3>
          <p>
            Amadeus API, Javascript, Jquery, Bootstrap
          </p>
        </div>
        <div class="ref"><a target="_blank" href="https://github.com/JoeLiang3/Travel-Chatbot">Github</a></div>
        <div class="ref">Not Deployed</div>
      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- <script>
      $( document ).ready(function() {
        $( ".projects" ).hover(
          function() {
            console.log($(this));
            $( this ).find('#overlay').css("display", "block");
          }, function() {
            console.log('out');
            $( this ).find('#overlay').css("display", "none");
          }
        );
      });
    </script> -->
  </body>
</html>
