

/************MAIN PAGE************************************************************/
img{
  height:100%;
  width:100%;
  margin-top:-20px;
}

.skills-container {
  background-color: rgb(249, 249, 249);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(238, 238, 238);
}

.my-name {
  font-size: 45px;

}



button {
  /*border-radius: 1px;*/
}

.skills{

  margin-top: 3%;
  margin-bottom: 3%;
}

#hobbies{
  font-size:20px;
}

.description {
  font-size:20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
}

#hobbie_descript{
  font-size:15px;
  margin-left: 10%;
  margin-right: 10%;
}

#selfie {
  margin-top: 10px;
  height: 30%;
  width: 30%;
  border-radius: 25px;
}

.about{
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 30px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
     color:#000000;
     text-decoration:none;
     cursor:pointer;
}

/***********Portfolio********************************************************************/
#title {
  font-size: 45px;
}

.projects{
  max-width: 300px;
  max-height: 500px;
  margin: 10%;
  background-color: rgb(249,249,249);
  box-shadow: 2px 2px 2px #888888;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(238,238,238);
  border-radius: 5px;
}

.projects > img {
  overflow:auto;
}



.techs{
  font-size: 10px;
  /*border-style: solid;
  border-color: black;*/
  border-radius: 2px;
  padding: 0px;
  margin-bottom: 3px;
}

/*.techs > p {

  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 0px;
}*/
